
<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "© Made by Blair", root_path %></li>
        <% if teacher_signed_in? %>
            <li><%= link_to current_teacher.email, '#' %></li>
        <% end %>
      </ul>
      <%= params if Rails.env.development? %>
    </div>
  </div>
</div>